---
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
import MySiteLayout from '../layouts/main.astro';
---
<MySiteLayout title="Home Page">
  <Hero title='Building lore-friendly settlements' img="/hero.jpg">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium hic assumenda soluta facilis voluptas magnam dicta explicabo! Quam hic explicabo fuga, rem placeat nihil dolores!
  </Hero>
  <main class="divide-y-8 divide-slate-700">
    <article class="py-8 text-3xl text-white">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod quo harum autem laborum, quaerat suscipit facere esse accusamus, veniam quas corrupti perspiciatis voluptatibus iusto quis blanditiis.</p>
    </article>
    <Footer />
  </main>
</MySiteLayout>
