---
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
import MySiteLayout from '../layouts/main.astro';
---
<MySiteLayout title="Home Page">
  <Hero title='Building lore-friendly settlements' img="/hero.jpg">
    Hi guys, Fliteska here!
  </Hero>
  <main class="divide-y-8 divide-slate-700">
    <article class="py-8 text-3xl text-white">
      <p>Here you will find any of my playlists and load orders I use to create my Fallout 4 settlements for YouTube.</p>
    </article>
    <Footer />
  </main>
</MySiteLayout>
