---
interface Props {
  title: string;
  img: string;
}
const { title, img } = Astro.props;
---

<div class="hero-grid">
  <img class="lg:aspect-video" src={img} alt="">
  <div class="lg:relative">
    <h3 class="text-6xl text-slate-50 leading-tight uppercase font-bold pl-16 p-8">{title}</h3>
    <div class="leading-loose bg-sky-400 shadow pl-16 p-8 lg:w-2/3 lg:absolute lg:bottom-[25%]">
      <p class="text-white text-2xl mb-4">
        <slot />
      </p>
    </div>
  </div>
</div>
<style>
  .hero-grid {
    @apply grid;
  }
  .hero-grid img, .hero-grid div {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }
</style>