<div class="hero-grid">
  <img class="aspect-video" src="./hero.jpg" alt="">
  <div>
    <h3 class="text-6xl text-slate-50 leading-tight uppercase font-bold pl-16 p-8">Building lore-friendly settlements</h3>
    <div class="leading-loose bg-sky-400 shadow pl-16 p-8 lg:w-2/3">
      <p class="text-white text-2xl mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic a officia eum, dolorum doloremque corrupti animi cum, ullam quibusdam assumenda voluptatum enim ea, repellat sunt laudantium quis! Aperiam, modi rerum unde exercitationem mollitia saepe et praesentium provident sequi, ut voluptates!
      </p>
      <a href="#" class="font-bold uppercase underline text-white">Find out more</a>
    </div>
  </div>
</div>
<style>
  .hero-grid {
    @apply grid;
  }
  .hero-grid img, .hero-grid div {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }
</style>